
<% #total = @joke.count %>
<table>	
	<tr>
		<td><%= button_to 'jokes', joke_path(2), method: "get"%></td>
		<td><%= button_to 'pearls of wisdom', quote_path(1), method: "get"%></td>
	</tr>
</table>

<!--%= #render 'joke'%-->







